.plan {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
}

.plan:hover {
    opacity: 1;
} 

.plan > button {
    padding: 10px 15px;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    color: white;
}